@import "../../bower_components/materialize/sass/materialize";

body {
  background-color: rgb(0,0,0);
}

strong {
  font-weight: bolder;
}

.map-area {
  width: 300px;
  height: 400px;
  margin: auto;
  border: 1px dashed rgb(118, 255, 22);
  background-color: rgba(118, 255, 22, 0.20);
}