<div class="container" device-manager="">
  <div class="row">
    <div class="col s12 light-blue">
      <div device-state=""></div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div device-map=""></div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 orange">
      <div device-sensors=""></div>
    </div>
  </div>
</div>
