<div class="container" ng-controller="visorCtrl">
    <div class="row">
        <div class="col s12 blue">
            <h1>Here'll be the visor!</h1>
            <button class="btn blue waves-effect" ng-click="reset()">Reset</button>
        </div>
    </div>
</div>